


<mat-list-item  (mouseenter) = "show()" (mouseleave) = "hide()">
    
    
    Name: {{name}} , Price: {{price}} 
  
    <button  mat-raised-button  (click)="showAreYouSure()" *ngIf = "showdelete" >
        Delete
    </button>
    <button  mat-raised-button  (click)="delete()" *ngIf = "areYouSure">
        Click to delete
    </button>
    <button  mat-raised-button  (click)="hideAreYouSure()" *ngIf = "areYouSure">
        Cancel
    </button>    
    <mat-checkbox [(ngModel)]="isInInventory" (change) = "changeInventory()"></mat-checkbox>
    <mat-divider></mat-divider>
  </mat-list-item> 